{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block h1 %}Set password{% endblock %}

{% block content %}
<link id="css_link" rel="stylesheet" type="text/css" href="/flask_pkg/static/css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<div class="login-container" >
    <form method="POST" action="{{ url_for('set_password_func')}}" id="login-form" class="login-form" >
        <table>
            <tr><td>{{form.Username.label}}: </td><td><a style="font-size: 1.3em; color: green;" > &nbsp;{{form.Username.default}}</a></td></tr>
            <tr><td>{{form.Password.label}}:</td><td><div>{{ form.Password(class='password', id='password', placeholder='Set your password') }}
                <i class="fa-solid fa-eye" id="eye" ></i></div><div><input type="password" id="password_retype" class='password' placeholder='Retype your password'>
                  <i class="fa-solid fa-eye" id="eye_retype" ></i></div>
                
                {% for error in form.Password.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
  
            </td></tr>
            <!-- <tr><td></td><td><button id="toggle-password" type="button" style="font-size: large; ">&nbsp;show</button></td></tr> -->
            <tr ><td></td><td><button id="submit" type="submit" value="Login">Register</td></tr>
              
        </table>
        <tr><a id="match" style="display: none; background-color: yellow;">Password doesn't match</a></tr>

    </form>
</div>

<input id="redirect_val" type="hidden" value="{{redirect_val}}">


<script>
    const passwordField = document.getElementById("password");
    const passwordField_retype = document.getElementById("password_retype");
    const toggleButton = document.getElementById("eye");
    const toggleButton_retype = document.getElementById("eye_retype");
    
    toggleButton.addEventListener("click", () => {
      if (passwordField.type === "password") {
        passwordField.type = "text"; // Show the password
        toggleButton.style.textDecorationLine = "line-through";
      } else {
        passwordField.type = "password"; // Hide the password
        toggleButton.style.textDecorationLine = ""
      }
    });
    toggleButton_retype.addEventListener("click", () => {
      if (passwordField_retype.type === "password") {
        passwordField_retype.type = "text"; // Show the password
        toggleButton_retype.style.textDecorationLine = "line-through";
      } else {
        passwordField_retype.type = "password"; // Hide the password
        toggleButton_retype.style.textDecorationLine = ""
      }
    });

    const submitButton = document.getElementById("submit");
    passwordField_retype.addEventListener('input', () => {
      const matchMessage = document.getElementById('match');
      if (passwordField.value !== passwordField_retype.value) {
        matchMessage.style.display = "block";
        submitButton.disabled = true;
        submitButton.style.backgroundColor = "gray"
      } else {
        matchMessage.style.display = "none";
        submitButton.disabled = false;
        submitButton.style.backgroundColor = "#007bff"

      }
    });

    
</script>
{%endblock%}